:root{
    --chat-searchbar-bg: #e3e3e3;
}

.no-focus-outline .form-control:focus {
  box-shadow: none !important;
  border-color: #ced4da !important;
}

.no-focus-outline .form-control {
  box-shadow: none !important;
  border-right: none !important;

}

button.custom-btn:focus {

}
button.custom-btn {
  border: 1px solid #ced4da !important;
  border-left: none !important;
}

.layout-wrapper {
  width: 100%;
  display: flex;
}

.chat-left-sidebar {

  height: 100%;
  /* overflow-y: auto; */
  position: relative;
  width: 100%;
  max-width: 400px;
}

.user-right-chat {
  height: 100%;
  position: relative;
  width: 100%;
}


/* Responsive Styles for Small Screens */
/* @media (max-width: 767px) {
  .layout-wrapper {
    flex-direction: column;
  }


  .user-right-chat {
    width: 100%;
    margin-top: 60px;
    display: none;
  }

  .chat-left-sidebar {
    width: 100%;
    max-width: 90%;
  }
} */


