#chat-window {
  height: 100%;
  /* overflow-y: auto; */
  overflow: hidden;
  position: relative;
  width: 100%;
}

.chat-welcome-section::before,
.chat-user-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/chatparttenbg.jpg");
  background-size: inherit;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}



.chat-welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-user-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  max-width: 90%;
}

.chat-user-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 100px);
  width: 100%;
  overflow-y: auto;
}

.chat-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 100px);
  width: 100%;
  overflow-y: auto;
}

.chat-messages-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  /* height: calc(100vh - 100px); */
  width: 100%;
  /* overflow-y: auto; */
}

/* custom scroller */

/* Customize the scrollbar */
.chat-content::-webkit-scrollbar {
  width: 10px;
}

.chat-content::-webkit-scrollbar-thumb {
  background-color: #989898; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

.chat-content::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the scrollbar track */
}

/* Optional: Handle scrollbar on hover */
.chat-content:hover::-webkit-scrollbar-thumb {
  background-color: #398f54; /* Change color on hover */
}

/* Optional: Hide scrollbar when not hovered */
.chat-content {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
}

.chat-content:hover {
  scrollbar-color: #4eac6d #f0f0f0; /* Firefox */
}
