/* Add your existing CSS styles here */

.authentication-page-content {
  background-color: #f8f9fa;
  height: 100vh;
  
}

.text-muted {
  color: #6c757d;
}

.form-label {
  font-weight: bold;
}

.form-control {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-light {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  color: #6c757d;
}

.btn-link {
  color: #007bff;
}

/* Add more styles as needed */
